<section id="services" class="services section-bg pt-5 background_edit background_total ">
    <div class="container">

      <div class="row">
        <div class="col-md-6 offset-3 d-flex align-items-stretch" data-aos="fade-left">
          <div class="card">
            <div class="card-img">
              <img src="https://gestion.pe/resizer/zmWgX8lNhzzPVxcjL_2liPHlGyk=/980x0/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/AWTFEYWSGBDYZL4TR2QOA44P5I.jpg" style="height: 359.5px ;" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a asp-controller="Producto" asp-action="ListarH">Calzado Hombres</a></h5>
              <p class="card-text text-center" >Inventario de todos los calzados registrados</p>
            </div>
          </div>
          </div>
    </div>

 <div class="row">
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
          <div class="card">
            <div class="card-img">
              <img src="https://i0.wp.com/ellashablan.com/wp-content/uploads/2017/12/marcas-zapatos-mujeres.jpg?fit=1360%2C907&ssl=1"  alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a asp-area="" asp-controller="Producto" asp-action="ListarM">Calzado Mujeres</a></h5>
              <p class="card-text text-center" >Inventario de todos los calzados registrados</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
          <div class="card">
            <div class="card-img">
              <img src="https://e00-telva.uecdn.es/assets/multimedia/imagenes/2019/09/06/15677586968970.jpg" style="height: 359.5px ;" alt="...">
            </div> 
            <div class="card-body">
              <h5 class="card-title"><a asp-area="" asp-controller="Producto" asp-action="ListarN">Calzado Niños</a></h5>
              <p class="card-text text-center" >Inventario de todos los calzados registrados</p>
            </div>
          </div>
        </div>
  </div>




  </section>